body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: rgb(39, 39, 39);
	color: white;
}

.task-list {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: auto;

	border-radius: 10px;
	background-color: rgba(168, 168, 168, 0.333);
}

.task-list h2,
.custom-task-form {
	padding: 0px 10px;
	position: relative;
	top: -8px;
}

.custom-task-form__name {
	height: 20px;
	width: 60%;
}

.custom-task-form__pts {
	height: 20px;
	width: 20%;
	margin-left: 20px;
}

button {
	height: 28px;
	width: 28px;
	background-color: rgb(1, 150, 187);
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.task-list__task,
.custom-task-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.task-list__task h5 {
	width: 70%;
}

.complete {
	color: rgba(255, 255, 255, 0.328);
	text-decoration: line-through;
}
