:root {
	--dark-blue: rgb(1, 150, 187);
}

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: rgb(39, 39, 39);
	color: white;
}

li {
	list-style: none;
}

a {
	color: white;
}

a:hover {
	color: var(--dark-blue);
	cursor: pointer;
}

/* SIGNUP PAGE  */

.signup-page__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-page {
	display: flex;
	flex-direction: column;
	width: 500px;
}
.signup-page h1,
h2 {
	text-align: center;
}

.signup-page form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.signup-page input {
	height: 20px;
	width: 80%;
}

.create-account-button {
	background-color: var(--dark-blue);
	color: white;
	height: 50px;
	width: 100px;
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0px 50px;

	border-bottom: 1px solid gray;
}

.profile-picture {
	border-radius: 50%;
}

.nav-bar {
	display: flex;
	gap: 20px;
	font-size: 20px;

	padding-left: 50px;
}

.nav-bar__active-item {
	border-bottom: 2px solid var(--dark-blue);
	font-weight: 600;
}

.nav-bar > li:hover {
	font-weight: 600;
	cursor: pointer;
}

.header button {
	background-color: var(--dark-blue);
	color: white;
	width: 60px;
	height: 40px;
}

.header > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* TASK LIST */

.task-list {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: auto;

	border-radius: 10px;
	background-color: rgba(168, 168, 168, 0.333);
}

.task-list__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.task-list h2 {
	position: relative;
}

.task-list__add-button {
	background-color: var(--dark-blue);
	color: white;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.task-list__task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	font-size: 20px;

	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.task-list__task h5 {
	width: 70%;
}

.task-list__task-checkbox {
	width: 20px;
	height: 20px;
}

.task-list__task-repeats {
	position: relative;
	font-size: 10px;
	width: 120px;
	right: 195px;
	top: 12px;
}

.task-list__task-pts {
	width: 100px;
	text-align: right;
}

.complete {
	color: rgba(255, 255, 255, 0.328);
	text-decoration: line-through;
}

/* CUSTOM TASK FORM */

.custom-task-form {
	position: relative;
	top: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0px 10px;

	background-color: rgba(168, 168, 168, 0.333);
	width: 380px;
	height: 250px;
}

.custom-task-form h2 {
	text-align: center;
	position: relative;
	top: -15px;
}

.custom-task-form__name {
	height: 20px;
	width: 98%;
	margin: 0px auto;
}

.custom-task-form__pts {
	height: 20px;
	width: 20%;

	position: relative;
	top: 0;
}

.custom-task-form span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 20px;
}

.custom-task-form__submit {
	height: 28px;
	width: 50px;
	background-color: var(--dark-blue);
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-radius: 5px;

	position: relative;
	left: 331px;
}

.custom-task-form__submit:hover {
	background-color: white;
	color: var(--dark-blue);
	cursor: pointer;
}

/* NEW TASK LIST */

.new-task__container {
	position: relative;
	top: 100px;
	width: 400px;

	border-radius: 10px;
	background-color: rgba(168, 168, 168, 0.333);
}

.new-task__container h2 {
	text-align: center;
}

.new-task__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.default-task {
	width: 95%;
	display: flex;
	flex-direction: row;
	padding: 0px 10px;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}

.default-task:hover {
	background-color: var(--dark-blue);
	cursor: pointer;
}

.add-custom-task-button {
	width: 90%;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: rgb(1, 150, 187);
	border-radius: 8px;
	margin: 10px 0px;
}

.add-custom-task-button:hover {
	cursor: pointer;
	background-color: white;
	color: var(--dark-blue);
}

/* POINTS COUNTER */

.points-counter {
	position: absolute;
	top: 50px;
	left: 500px;
}
